<div class="row mt-5 animated fadeIn ">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil de Usuario</h4>
        <h6 class="card-subtitle">NOMBRE</h6>
        <form  [formGroup]="forma" (ngSubmit)="guardar(forma.value)" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                formControlName ="nombre"
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Nombre usuario"
              />


              <input
              hidden
              formControlName = "_id"
              name="_id"
              type="text"
              class="form-control"
              id="exampleInputuname"
              placeholder="Nombre usuario"
            />

            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                formControlName ="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Correo usuario"
                
                
                />
               
              </div>
          </div>

          <button
            type="submit"
            class="btn-block btn-outline-success waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i> Guardar
          </button>

         
            
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fotografía de {{usuario.nombre}}</h4>
        <h6 class="card-subtitle">{{usuario.nombre}}</h6>

        <img  class="width150 text-center"  [src]="usuario.img | imagen" alt="">
        

        <input type="file" 

          (change) = "subirImagen($event.target.files[0])"
        
        >
        <br>
        <br>
        <button
            (click)="cambiarImagen()" 
            [disabled] ="!usuarioImagen"
            type="button"
            class="btn-block btn-outline-info waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> Actualizar foto
      </button>

      </div>
    </div>
  </div>
</div>

