<h3>{{leyenda}} ---- {{progreso}} </h3>

<div class="input-group">
    <span class="input-group-prepend">
      <button (click)="cambiarValor(-5)" class="btn btn-secondary bg-primary text-white"><i class="fa fa-minus"></i></button>
    </span>

    <input #textProgress type="number" min="0" max="100" class="form-control" (ngModelChange)="onChange($event)" name="progreso" placeholder="product-name" [(ngModel)]="progreso">
    <span class="input-group-prepend">
      <button (click)="cambiarValor(+5)" class="btn btn-secondary bg-primary text-white"><i class="fa fa-plus"></i></button>
    </span>
  </div>